@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* background-color: #fefcff; */
  /* height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
  color: white; */
  /* &::-webkit-scrollbar {
    display: none;
  } */
  /* background: url("../../public/Geo\ Wave\ 22.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh; */
}
